.RatingsBackgroundCreate {
	background: url("https://res.cloudinary.com/dfmnpw0yp/image/upload/v1682283148/jgd8nozf4hlio59x60je.jpg");
	background-position: center;
	background-size: cover;
}

.reviewCustomerList {
	background: url("https://res.cloudinary.com/dfmnpw0yp/image/upload/v1682283148/jgd8nozf4hlio59x60je.jpg");
	background-position: center;
	background-size: cover;
}
